/* Import fonts */
@import url('./fonts.css');

/* Import global css */
@import url('./global.css');

/* import variables */
@import url('./variables.css');

.App {
    text-align: center;
  }
  
.Menu {
    text-align: center;
    margin-top: 20px;
}

.header {
    display: flex;
    justify-content: center;
    text-align: center;
    border-bottom: 5px solid var(--border-color);
    background:url('../images/sunrise4.jpeg')no-repeat 0% 100%;
    background-size: cover;
  }
  
  .header h1 {
    font-size: 80px;
    font-family: var(--KGAllofMe);
    letter-spacing: 0.07em;
    line-height: normal;
    text-align: center;
    padding-top: 70px;
    color: white;
  }
  
  .logo {
    margin-right: 200px; 
  }
  