html, body {
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/* CSS Variables */

:root{
    --primary-color: #B8C4C6; 
    --secondary-color: #F3A972;;
    --title-color: #CD9896;
    --text-color: #154D59;
    --border-color:#EAEAE5;
    --gradient-color: linear-gradient(90deg,#FBB865  0%, #C36D41 100%);
    --shadow-color: 0px 10px 30px #AB6455;
    --box-shadow: 0px 10px 30px #ccb0a2;

    /* font family variables */
    --KGAllofMe: 'KGAllofMe', cursive;

}